extends layout/layout

block content
  div#serviceDetail
    div.mainCol
      div.topNav
        a(href="/") #[i.fa.fa-chevron-left] Takaisin hakuun
      div
        h1.centered #{results.service_name}
        h3 #{results.rating} (#{results.rating_amount} arvostelua)
      hr
      div
        h3 Palvelun Kuvaus
        p #{results.service_description}
      hr
      div
        h1.centered Arvostelut
        each review in reviews
          div.reviewSingle
            h3 #{review.title} 
              span
              - for (var i=0;i<review.rating;i++)
                span *
            p #{review.first_name + " " + review.last_name}, #{review.review_date}
            p #{review.description}
    div.floatCol
      h3 Huoltokohde
      input(placeholder="kohde")
      input(placeholder="osoite")
      input(placeholder="pinta-ala")
      h3 Huoltoajankohta
      input(placeholder="Tämän viikon aikana")
      button.blue Lähetä tarjouspyyntö



